/* This wrapper crops the image so it doesn't overflow when it scales up. */
.card-img-wrapper {
  overflow: hidden;
  border-radius: 0.75rem; /* A nice rounded corner */
}

/* The actual image div */
.card-img {
  height: 60vh; /* Or any height you prefer */
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease; /* This creates the smooth animation */
}

/* When you hover over the link, the image inside it will scale up */
.category-card:hover .card-img {
  transform: scale(1.1);
}
#partners img:hover {
  filter: grayscale(0%);
  opacity: 1;
  transition: all 0.3s ease;
}
